In [106]:
#!/usr/bin/env python
# -*- coding: latin-1 -*-
import pandas as pd # pandas is a data manipulation library
import numpy as np #provides numerical arrays and functions to manipulate the arrays efficiently
import csv
import logging
from SPARQLWrapper import SPARQLWrapper,JSON, SPARQLWrapper2, POST,XML,GET
from collections import defaultdict
from tqdm.notebook import tqdm
import query_helper_functions as q_helper
import sparql_query as sparql_query
import imp
imp.reload(q_helper)
imp.reload(sparql_query)

In [11]:

logging.basicConfig(format='%(asctime)s : %(levelname)s : %(message)s', level=logging.INFO)
tqdm.pandas(desc="progress bar")

d:\programs\python39\lib\site-packages\tqdm\std.py:703: FutureWarning: The Panel class is removed from pandas. Accessing it from the top-level namespace will also be removed in the next version
  from pandas import Panel

In [12]:
ml_file_movies_df = pd.read_csv('../dataset/ml_movies.csv')

In [ ]:
ml_file_movies_df

In [13]:
ml_file_movies_df[10:20]

,movieId,title,genres
10,11,"American President, The (1995)",Comedy|Drama|Romance
11,12,Dracula: Dead and Loving It (1995),Comedy|Horror
12,13,Balto (1995),Adventure|Animation|Children
13,14,Nixon (1995),Drama
14,15,Cutthroat Island (1995),Action|Adventure|Romance
15,16,Casino (1995),Crime|Drama
16,17,Sense and Sensibility (1995),Drama|Romance
17,18,Four Rooms (1995),Comedy
18,19,Ace Ventura: When Nature Calls (1995),Comedy
19,20,Money Train (1995),Action|Comedy|Crime|Drama|Thriller

In [28]:
#clean titles in ml data
#delete any record with empty title
ml_file_movies_df= ml_file_movies_df.loc[~(ml_movies_df['title']=="")]
# extract the year from the title and save it in a new column
ml_file_movies_df['year'] =  ml_file_movies_df.title.str.extract(r'\(([0-9]+)\)')
# remove any parentheses and text in between from the title
ml_file_movies_df['title'] = ml_file_movies_df['title'].str.replace(r"\(.*\)","")
#remove white spaces from the title and convert it to lower case
ml_file_movies_df.title = ml_file_movies_df.title.str.strip().str.lower()
#remove double qoutation from title
ml_file_movies_df['title'] = ml_file_movies_df['title'].str.replace("\"","")
#move "the" from the end of the title to the begining
ml_file_movies_df['title'] = ml_file_movies_df['title'].apply(lambda row: 'the ' + row.replace(", the", "") if ", the" in row else row)

In [29]:
#copy thedata into new dataframe
ml_movies_df = ml_file_movies_df.copy()
ml_movies_df.describe

<bound method NDFrame.describe of        movieId                        title  \
0            1                    toy story
1            2                      jumanji
2            3             grumpier old men
3            4            waiting to exhale
4            5  father of the bride part ii
...        ...                          ...
62418   209157                           we
62419   209159           window of the soul
62420   209163                    bad poems
62421   209169                 a girl thing
62422   209171      women of devil's island

                                            genres year
0      Adventure|Animation|Children|Comedy|Fantasy  NaN
1                       Adventure|Children|Fantasy  NaN
2                                   Comedy|Romance  NaN
3                             Comedy|Drama|Romance  NaN
4                                           Comedy  NaN
...                                            ...  ...
62418                                        Drama  NaN
62419                                  Documentary  NaN
62420                                 Comedy|Drama  NaN
62421                           (no genres listed)  NaN
62422                       Action|Adventure|Drama  NaN

[62416 rows x 4 columns]>

In [20]:
# importing the string module
import string
# special characters
special_chars = string.punctuation
special_chars

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [30]:
ml_movies_df[ml_movies_df.title.apply(lambda title: True if title in special_chars else False)]

       movieId title              genres year
16130    85177     $  Comedy|Crime|Drama  NaN

In [23]:
ml_movies_df[ml_movies_df['movieId']==115263]

In [24]:
ml_movies_df[ml_movies_df['title']==""]

       movieId title                genres  year
13495    69757        Comedy|Drama|Romance   500
15292    80729                Comedy|Drama  2009
22515   115263                 Documentary  2011
34557   145733          Adventure|Children  2011
35125   147033        Documentary|Thriller  2015
40668   160010                 Documentary  2015
56000   193219              Comedy|Romance  2018

In [31]:
movies_list = ml_movies_df['title'].values.tolist()

In [32]:
print("Number of movies from MovieLens dataset is {} ".format(len(movies_list)))

Number of movies from MovieLens dataset is 62416

# Query DBPedia for MovieLens Data

In [61]:
#uncomment either the call to query lod to refresh the data or the load from file
endpoint = "https://dbpedia.org/sparql"
return_format = XML
request_method= POST
chunck_size = 2000
#movies_info_result_df = q_helper.retrieve_data_for_movies_list(sparql_query.dbpedia_movies_info_query, movies_list, chunck_size,'string', endpoint, return_format, request_method)
movies_info_df = movies_info_result_df[0].copy()
failed_movies_info_list = movies_info_result_df[1].copy()
#save raw results of movies info query to file
movies_info_df.to_csv("generated_dataset/dbpedia_movie_info_query_raw_results.csv",index=False)

In [38]:
movies_info_df['movie_id']= movies_info_df.pedia_movie.str.split('http://dbpedia.org/resource/').str[1]

movies_info_df = movies_info_df.fillna('NOT_FOUND')
movies_info_df['country']= movies_info_df['country'].apply(lambda country: 
                                                 country.split('http://dbpedia.org/resource/')[1] if 'dbpedia.org/resource/' in country else country )

In [48]:
#Group movies info results to extract the directors, writers, and titles
movies_info_grouped = movies_info_df.groupby(['movie_id','title'], as_index=False)
#aggregate the directors and directors in one column for each separated by |
dbpedia_info_df = movies_info_grouped.agg({
                                        'director_name':lambda x:  '|'.join(set(x)),
                                        'writer_name':lambda x: '|'.join(set(x)),                                      
                                        'country':lambda x: '|'.join(set(x))
                                        })
#save grouped data to file
dbpedia_info_df.to_csv("generated_dataset/dbpedia_movie_info_grouped.csv", index=False)

In [40]:
dbpedia_info_df

,movie_id,title,director_name,writer_name,country
0,$9.99,$9.99,Tatia Rosenthal,Tatia Rosenthal|Etgar Keret,Israel|Australia
1,$_(film),$,Richard Brooks,Richard Brooks,USA
2,'68_(film),'68,Steven Kovacs,Steven Kovacs,United States
3,'71_(film),'71,Yann Demange,Gregory Burke,United Kingdom
4,'Gator_Bait,'Gator Bait,Beverly Sebastion,Beverly Sebastion,United States
...,...,...,...,...,...
40282,Zulu_(1964_film),Zulu,Cy Endfield,Cy Endfield|John Prebble,United Kingdom\n*United States
40283,Zulu_(2013_film),Zulu,Jérôme Salle,Jérôme Salle,France
40284,Zulu_Dawn,Zulu dawn,Douglas Hickox,Cy Endfield,United States
40285,Zus_&_Zo,Zus & Zo,Paula van der Oest,Paula van der Oest,Netherlands
40286,Zvenigora,Zvenigora,Alexander Dovzhenko,Alexander Dovzhenko|Yuriy Tyutyunnyk,Soviet_Union

# Data analysis for the retrieved movies info (director, writer, country) from DBpedia

In [58]:
pedia_info_no_features = len(dbpedia_info_df[
                         ((dbpedia_info_df.director_name == 'NOT_FOUND')
                          & (dbpedia_info_df.writer_name == 'NOT_FOUND')                          
                          & (dbpedia_info_df.country == 'NOT_FOUND'))])

 
pedia_info_all_features = len(dbpedia_info_df[
                              ((dbpedia_info_df.director_name != 'NOT_FOUND')
                              & (dbpedia_info_df.writer_name != 'NOT_FOUND')                          
                              & (dbpedia_info_df.country != 'NOT_FOUND'))])

pedia_info_no_country = len(dbpedia_info_df[
                             ((dbpedia_info_df.director_name != 'NOT_FOUND')
                          &  (dbpedia_info_df.writer_name != 'NOT_FOUND')                          
                          &  (dbpedia_info_df.country == 'NOT_FOUND'))])

pedia_info_no_writer = len(dbpedia_info_df[
                             ((dbpedia_info_df.director_name != 'NOT_FOUND')
                          &  (dbpedia_info_df.writer_name == 'NOT_FOUND')                          
                          &  (dbpedia_info_df.country != 'NOT_FOUND'))])

pedia_info_no_director = len(dbpedia_info_df[
                             ((dbpedia_info_df.director_name == 'NOT_FOUND')
                          &  (dbpedia_info_df.writer_name != 'NOT_FOUND')                          
                          &  (dbpedia_info_df.country != 'NOT_FOUND'))])

In [64]:
print("Number of ML movies retrieved from DBpedia with their info is {}".format(len(dbpedia_info_df)))
print("Number of movies missing all features is {}".format(pedia_info_no_features))
print("Number of movies having all features is {}".format(pedia_info_all_features))
print("Number of movies missing ONLY the country feature is {}".format(pedia_info_no_country))
print("Number of movies missing ONLY the writer feature is {}".format(pedia_info_no_writer))
print("Number of movies missing ONLY the director feature is {}".format(pedia_info_no_director))

Number of ML movies retrieved from DBpedia with their info is 40287
Number of movies missing all features is 289
Number of movies having all features is 29458
Number of movies missing ONLY the country feature is 1559
Number of movies missing ONLY the writer feature is 5807
Number of movies missing ONLY the director feature is 731

In [ ]:
# Load DBpedia movies information from last query results
#dbpedia_info_df= pd.read_csv("generated_dataset/dbpedia_movie_info_grouped.csv")
#dbpedia_info_df

# Query DBpedia for the actors of the ML movies

In [67]:
#uncomment either the query to refresh the data from the source or load the previously retrieved data from file
endpoint = "https://dbpedia.org/sparql"
return_format = XML
request_method= POST
chunk_size = 2000
movies_actors_results_df = q_helper.retrieve_data_for_movies_list(sparql_query.dbpedia_movies_actors_query,movies_list,chunk_size,'string',endpoint, return_format,request_method)
movies_actors_df= movies_actors_results_df[0].copy()
failed_movies_actors_list = movies_actors_results_df[1].copy()
#save movies actors results to file
movies_actors_df.to_csv("generated_dataset/dbpedia_movies_actors_query_raw_results.csv",index=False)

Searching by movie title
Processing movies between 0 2000

Results data frame length = 10000

Searching by movie title
Processing movies between 2000 4000

Results data frame length = 20000

Searching by movie title
Processing movies between 4000 6000

Results data frame length = 29465

Searching by movie title
Processing movies between 6000 8000

Results data frame length = 38804

Searching by movie title
Processing movies between 8000 10000

Results data frame length = 47471

Searching by movie title
Processing movies between 10000 12000

Results data frame length = 56493

Searching by movie title
Processing movies between 12000 14000

Results data frame length = 64621

Searching by movie title
Processing movies between 14000 16000

Results data frame length = 72383

Searching by movie title
Processing movies between 16000 18000

Results data frame length = 79556

Searching by movie title
Processing movies between 18000 20000

Results data frame length = 86005

Searching by movie title
Processing movies between 20000 22000

Results data frame length = 92725

Searching by movie title
Processing movies between 22000 24000

Results data frame length = 99065

Searching by movie title
Processing movies between 24000 26000

Results data frame length = 106138

Searching by movie title
Processing movies between 26000 28000

Results data frame length = 111385

Searching by movie title
Processing movies between 28000 30000

Results data frame length = 116641

Searching by movie title
Processing movies between 30000 32000

Results data frame length = 121464

Searching by movie title
Processing movies between 32000 34000

Results data frame length = 126434

Searching by movie title
Processing movies between 34000 36000

Results data frame length = 131453

Searching by movie title
Processing movies between 36000 38000

Results data frame length = 136191

Searching by movie title
Processing movies between 38000 40000

Results data frame length = 140811

Searching by movie title
Processing movies between 40000 42000

Results data frame length = 145755

Searching by movie title
Processing movies between 42000 44000

Results data frame length = 150180

Searching by movie title
Processing movies between 44000 46000

Results data frame length = 153951

Searching by movie title
Processing movies between 46000 48000

Results data frame length = 157701

Searching by movie title
Processing movies between 48000 50000

Results data frame length = 161199

Searching by movie title
Processing movies between 50000 52000

Results data frame length = 164487

Searching by movie title
Processing movies between 52000 54000

Results data frame length = 167952

Searching by movie title
Processing movies between 54000 56000

Results data frame length = 171024

Searching by movie title
Processing movies between 56000 58000

Results data frame length = 173765

Searching by movie title
Processing movies between 58000 60000

Results data frame length = 176453

Searching by movie title
Processing movies between 60000 62000

Results data frame length = 179367

Searching by movie title
Processing movies between 62000 62416

Results data frame length = 179760

In [68]:
movies_actors_df

,pedia_movie,title,actor_name
0,http://dbpedia.org/resource/Heat_(1995_film),Heat,Al Pacino
1,http://dbpedia.org/resource/Miller's_Crossing,Miller's Crossing,Albert Finney
2,http://dbpedia.org/resource/Multiplicity_(film),Multiplicity,Andie MacDowell
3,http://dbpedia.org/resource/Evita_(1996_film),Evita,Antonio Banderas
4,http://dbpedia.org/resource/Heat_(1995_film),Heat,Ashley Judd
...,...,...,...
388,http://dbpedia.org/resource/Instinct_(1930_film),Instinct,None
389,http://dbpedia.org/resource/Seventeen_(1940_film),Seventeen,Otto Kruger
390,http://dbpedia.org/resource/Seventeen_(1940_film),Seventeen,Jackie Cooper
391,http://dbpedia.org/resource/Seventeen_(1940_film),Seventeen,Ann Shoemaker
392,http://dbpedia.org/resource/Seventeen_(1940_film),Seventeen,Betty Field

In [69]:

#create movie id by extracting the dbpedia movie id from the link
movies_actors_df['movie_id']= movies_actors_df.pedia_movie.str.split('http://dbpedia.org/resource/').str[1]
movies_actors_df = movies_actors_df.fillna('NOT_FOUND')

In [70]:
movies_actors_df

,pedia_movie,title,actor_name,movie_id
0,http://dbpedia.org/resource/Heat_(1995_film),Heat,Al Pacino,Heat_(1995_film)
1,http://dbpedia.org/resource/Miller's_Crossing,Miller's Crossing,Albert Finney,Miller's_Crossing
2,http://dbpedia.org/resource/Multiplicity_(film),Multiplicity,Andie MacDowell,Multiplicity_(film)
3,http://dbpedia.org/resource/Evita_(1996_film),Evita,Antonio Banderas,Evita_(1996_film)
4,http://dbpedia.org/resource/Heat_(1995_film),Heat,Ashley Judd,Heat_(1995_film)
...,...,...,...,...
388,http://dbpedia.org/resource/Instinct_(1930_film),Instinct,NOT_FOUND,Instinct_(1930_film)
389,http://dbpedia.org/resource/Seventeen_(1940_film),Seventeen,Otto Kruger,Seventeen_(1940_film)
390,http://dbpedia.org/resource/Seventeen_(1940_film),Seventeen,Jackie Cooper,Seventeen_(1940_film)
391,http://dbpedia.org/resource/Seventeen_(1940_film),Seventeen,Ann Shoemaker,Seventeen_(1940_film)
392,http://dbpedia.org/resource/Seventeen_(1940_film),Seventeen,Betty Field,Seventeen_(1940_film)

In [71]:
#group the actors per movie and save data to file
movies_actors_grouped = movies_actors_df.groupby(['movie_id'], as_index=False)

#aggregate the actors in one column for each movie separated by |
dbpedia_movies_actors_df = movies_actors_grouped.agg({'actor_name':lambda x: '|'.join(set(x))
                                         })

dbpedia_movies_actors_df.to_csv("generated_dataset/dbpedia_actors_grouped.csv",index=False)

In [72]:
dbpedia_movies_actors_df.describe

<bound method NDFrame.describe of                movie_id                                         actor_name
0                 $9.99                     Geoffrey Rush|Anthony LaPaglia
1              $_(film)  Warren Beatty|Gert Fröbe|Scott Brady|Goldie Ha...
2            '68_(film)                                          NOT_FOUND
3            '71_(film)  Paul Popplewell|Sean Harris|Jack O'Connell (ac...
4           'Gator_Bait                                   Claudia Jennings
...                 ...                                                ...
40177  Zulu_(1964_film)  Jack Hawkins|Nigel Green|James Booth|Stanley B...
40178  Zulu_(2013_film)                      Forest Whitaker|Orlando Bloom
40179         Zulu_Dawn  Simon Ward|Ronald Lacey|Peter O'Toole|Bob Hosk...
40180          Zus_&_Zo          Monic Hendrickx|Halina Reijn|Jacob Derwig
40181         Zvenigora                                          NOT_FOUND

[40182 rows x 2 columns]>

In [73]:
dbpedia_movies_actors_df.isnull().values.any()

False

In [74]:
dbpedia_movies_no_actors = len(dbpedia_movies_actors_df[(dbpedia_movies_actors_df.actor_name == 'NOT_FOUND')])

In [75]:
print("Number of ML movies found in DBpedia while querying for actors is {}".format(len(dbpedia_movies_actors_df)))
print("Number of movies retrieved from DBpedia and missing actors is {}".format(dbpedia_movies_no_actors))

Number of ML movies found in DBpedia while querying for actors is 40182
Number of movies missing actors is 5754

In [ ]:
# Load DBpedia movies actors from last query results
#dbpedia_movies_actors_df= pd.read_csv("generated_dataset/dbpedia_actors_grouped.csv")
#dbpedia_movies_actors_df

In [ ]:
#merge dbpedia dataframes to create a combined yago dataset with the attributes, movie_id,title,actor_name,director_name,genre,country
dbpedia_movies_df = dbpedia_info_df.merge(dbpedia_movies_actors_df, how="inner", on=['movie_id'])

dbpedia_movies_df.reset_index(drop= True)
dbpedia_movies_df

# Query YAGO for MovieLens Data

In [115]:
def retrieve_data_for_movies_list(query, search_list, chunck_size, search_data_type, endpoint, return_format,request_method):
    
    data_chunck = [movie.strip().lower() for movie in search_list]
    final_search_list = '\"""' + '\""",\"""'.join(data_chunck) + '\"""' 
    sparql = SPARQLWrapper2("https://yago-knowledge.org/sparql/query")  
    #sparql.setReturnFormat(JSON)
    #sparql.setRequestMethod(POST)
    sparql.setQuery(query%final_search_list) 
    results = sparql.query()
   # results = execute_query_for_movies_list(query,final_search_list,endpoint, return_format,request_method)       
    print(results)

    return results
results = retrieve_data_for_movies_list(sparql_query.yago_movie_info_query, movies_list[0:5], chunck_size,'string', endpoint, return_format, request_method)

<SPARQLWrapper.SmartWrapper.Bindings object at 0x00000239BD27E8B0>

In [93]:
def get_sparql_dataframe(result):
    """
    Helper function to convert SPARQL results into a Pandas data frame.
    """
    processed_results = result.fullResult
    processed_results
    cols = processed_results['head']['vars']
   # print(cols)

    out = []
    for row in processed_results['results']['bindings']:
        item = []
        for c in cols:
            item.append(row.get(c, {}).get('value'))
        out.append(item)

    return pd.DataFrame(out, columns=cols)

#function to retrieve the actors for list of movies
def execute_query(query, endpoint, return_format):
    sparql = SPARQLWrapper2(endpoint)  
    sparql.setQuery(query) 
    sparql.setReturnFormat(return_format)   
    sparql.setMethod(POST)
  
    results = sparql.query()
    return results

def execute_query_for_movies_list(query,movies_list, endpoint,return_format,request_method):
    sparql = SPARQLWrapper2(endpoint)  
    sparql.setQuery(query%movies_list) 
   # print(sparql.queryString)
    sparql.setReturnFormat(return_format)   
    sparql.setMethod(request_method)
   # print(sparql)
    results = sparql.query()
    
    return results

In [ ]:
#uncomment either the call to query yago to refresh the data or the load from file
#endpoint = "http://yago-knowledge.org/sparql"
endpoint="https://yago-knowledge.org/sparql/query"
return_format = JSON
request_method= POST
chunck_size = 500
movies_info_result_df1 = q_helper.retrieve_data_for_movies_list(sparql_query.yago_movie_info_query, movies_list, chunck_size,'string', endpoint, return_format, request_method)
movies_info_df1 = movies_info_result_df[0].copy()
failed_movies_info_list = movies_info_result_df[1].copy()
#save raw results of movies info query to file
#movies_info_df.to_csv("generated_dataset/yago_movie_info_query_raw_results.csv",index=False)

Searching by movie title
Processing movies between 0 500

Results data frame length = 1802

Searching by movie title
Processing movies between 500 1000

Results data frame length = 3899

Searching by movie title
Processing movies between 1000 1500

Results data frame length = 5789

Searching by movie title
Processing movies between 1500 2000

Results data frame length = 7622

Searching by movie title
Processing movies between 2000 2500

Results data frame length = 9451

Searching by movie title
Processing movies between 2500 3000

Results data frame length = 11441

Searching by movie title
Processing movies between 3000 3500

Results data frame length = 13086

Searching by movie title
Processing movies between 3500 4000

Results data frame length = 14864

Searching by movie title
Processing movies between 4000 4500

Results data frame length = 16647

Searching by movie title
Processing movies between 4500 5000

Results data frame length = 18385

Searching by movie title
Processing movies between 5000 5500

Results data frame length = 20005

Searching by movie title
Processing movies between 5500 6000

Results data frame length = 21738

Searching by movie title
Processing movies between 6000 6500

Results data frame length = 23143

Searching by movie title
Processing movies between 6500 7000

In [ ]:
movies_info_df = movies_info_df.fillna('NOT_FOUND')

In [ ]:
movies_info_df.info()

In [ ]:
#Group movies info results to extract the directors, writers, and titles
movies_info_grouped = movies_info_df.groupby(['movie_id','title'], as_index=False)
#aggregate the directors and directors in one column for each separated by |
yago_info_df = movies_info_grouped.agg({
                                        'director_name':lambda x: np.nan if x is None else '|'.join(set(x)),
                                        'genre':lambda x: '|'.join(set(x)),                                      
                                        'country':lambda x: '|'.join(set(x))
                                        })
#save grouped data to file
yago_info_df.to_csv("generated_dataset/yago_movie_info_grouped.csv", index=False)

In [ ]:
yago_info_df.describe

In [ ]:
print("Number of ML movies retrieved from YAGO with their info is {}".format(len(yago_info_df)))

# Load yago movies information

In [ ]:
yago_info_df= pd.read_csv("generated_dataset/yago_movie_info_grouped.csv")
yago_info_df

# Query YAGO for the actors of the ML movies

In [ ]:
#uncomment either the query to refresh the data from the source or load the previously retrieved data from file
#endpoint = "https://yago-knowledge.org/sparql"
endpoint="http://lod2.openlinksw.com/sparql"
return_format = XML
request_method= POST
chunk_size = 2000
#movies_actors_results_df = q_helper.retrieve_data_for_movies_list(sparql_query.yago_movies_actors_query,movies_list,chunk_size,'string',endpoint, return_format,request_method)
movies_actors_df= movies_actors_results_df[0].copy()
failed_movies_actors_list = movies_actors_results_df[1].copy()

In [ ]:
movies_actors_df.describe

In [ ]:
movies_actors_df = movies_actors_df.fillna('NOT_FOUND')

In [ ]:
#group the actors per movie and save data to file
movies_actors_grouped = movies_actors_df.groupby(['movie_id'], as_index=False)

#aggregate the actors in one column for each movie separated by |
yago_movies_actors_df = movies_actors_grouped.agg({'actor_name':lambda x: '|'.join(set(x))
                                         })

yago_movies_actors_df.to_csv("generated_dataset/yago_actors_grouped.csv",index=False)

In [ ]:
yago_movies_actors_df.describe

In [ ]:
yago_movies_actors_df.isnull().values.any()

In [ ]:
print("Number of ML movies retrieved from LOD with their actors is {}".format(len(dbpedia_movies_actors_df)))

# Load movies actors from last query results

In [ ]:
yago_movies_actors_df= pd.read_csv("generated_dataset/yago_actors_grouped.csv")
yago_movies_actors_df

# Merge the actors dataframe with the movies information to create one dataframe for YAGO movies

In [ ]:
#merge yago dataframes to create a combined yago dataset with the attributes, movie_id,title,actor_name,director_name,genre,country
yago_movies_df = yago_info_df.merge(yago_movies_actors_df, how="inner", on=['movie_id'])

yago_movies_df.reset_index(drop= True)
yago_movies_df

In [ ]:
final_movies_df = yago_movies_df.merge(dbpedia_movies_df, how="outer", on=['movie_id','title'])
final_movies_df = final_movies_df.fillna('NOT_FOUND')
final_movies_df.describe

In [ ]:
to_keep_val = "NOT_FOUND"
other_val = "other_val"

def select_values(to_keep_val, other_val):
    if (str(to_keep_val) != "NOT_FOUND"):
        return to_keep_val
    else:
        return other_val
    
select_values(to_keep_val, other_val)


final_movies_df['actor_name'] = final_movies_df.progress_apply(lambda row: select_values(row.actor_name_y, row.actor_name_x), axis=1)
final_movies_df['director_name'] = final_movies_df.progress_apply(lambda row: select_values(row.director_name_x, row.director_name_y), axis=1)
final_movies_df['country'] = final_movies_df.progress_apply(lambda row: select_values(row.country_x, row.country_y), axis=1)

In [ ]:
final_movies_df[['actor_name_x','actor_name_y', 'actor_name']].head(50)

In [ ]:
final_movies_df[['director_name_x','director_name_y', 'director_name']].head(50)

In [ ]:
final_movies_df

In [ ]:
all_movies_df = final_movies_df[['movie_id','title','actor_name','director_name','writer_name','country','genre']].copy()

In [ ]:
all_movies_df

In [ ]:
#remove duplicated movie_id
all_movies_df= all_movies_df[~all_movies_df.duplicated('movie_id')]
all_movies_df

In [ ]:
all_movies_df.duplicated('movie_id').any().sum()

In [ ]:
all_movies_df = all_movies_df[~((all_movies_df.actor_name == 'NOT_FOUND')
                          & (all_movies_df.director_name == 'NOT_FOUND')
                          & (all_movies_df.writer_name == 'NOT_FOUND')
                          & (all_movies_df.genre == 'NOT_FOUND')
                          & (all_movies_df.country == 'NOT_FOUND'))]
all_movies_df

In [ ]:
complete_dataset= all_movies_df[((all_movies_df.actor_name != 'NOT_FOUND')
                          & (all_movies_df.director_name != 'NOT_FOUND')
                          & (all_movies_df.writer_name != 'NOT_FOUND')
                          & (all_movies_df.genre != 'NOT_FOUND')
                          & (all_movies_df.country != 'NOT_FOUND'))]
complete_dataset

In [ ]:
missing_only_genre_dataset= all_movies_df[((all_movies_df.actor_name == 'NOT_FOUND')
                          & (all_movies_df.director_name != 'NOT_FOUND')
                          & (all_movies_df.writer_name != 'NOT_FOUND')
                          & (all_movies_df.genre != 'NOT_FOUND')
                          & (all_movies_df.country != 'NOT_FOUND'))]
missing_only_genre_dataset

In [ ]:
all_movies_df