In [16]:
#!/usr/bin/env python
# -*- coding: latin-1 -*-
import pandas as pd # pandas is a data manipulation library
import numpy as np #provides numerical arrays and functions to manipulate the arrays efficiently
import csv
import logging
from SPARQLWrapper import SPARQLWrapper,JSON, SPARQLWrapper2, POST,XML,GET
from collections import defaultdict
from tqdm.notebook import tqdm
import query_helper_functions as query_helper
import sparql_query as sparql_query

In [2]:

logging.basicConfig(format='%(asctime)s : %(levelname)s : %(message)s', level=logging.INFO)
tqdm.pandas(desc="progress bar")

d:\programs\python39\lib\site-packages\tqdm\std.py:703: FutureWarning: The Panel class is removed from pandas. Accessing it from the top-level namespace will also be removed in the next version
  from pandas import Panel

In [7]:
ml_file_movies_df = pd.read_csv('dataset/ml_movies.csv')

In [8]:
ml_file_movies_df.drop(columns='movieId',inplace=True)

In [9]:
#clean loaded ml data
# extract the year from the title and save it in a new column
ml_file_movies_df['year'] =  ml_file_movies_df.title.str.extract(r'\(([0-9]+)\)')
#move "the" from the end of the title to the begining
ml_file_movies_df['title'] = ml_file_movies_df['title'].apply(lambda row: 'the ' + row.replace(", the", "") if ", the" in row else row)
# remove any parantatheis from the title
ml_file_movies_df['title'] = ml_file_movies_df['title'].str.replace(r"\(.*\)","")
#remove white spaces from the title and convert it to lower case
ml_file_movies_df.title = ml_file_movies_df.title.str.strip().str.lower()
#remove double qoutation from title
ml_file_movies_df['title'] = ml_file_movies_df['title'].str.replace("\"","")

In [10]:
ml_file_movies_df.describe

<bound method NDFrame.describe of                              title  \
0                        toy story
1                          jumanji
2                 grumpier old men
3                waiting to exhale
4      father of the bride part ii
...                            ...
62418                           we
62419           window of the soul
62420                    bad poems
62421                 a girl thing
62422      women of devil's island

                                            genres  year
0      Adventure|Animation|Children|Comedy|Fantasy  1995
1                       Adventure|Children|Fantasy  1995
2                                   Comedy|Romance  1995
3                             Comedy|Drama|Romance  1995
4                                           Comedy  1995
...                                            ...   ...
62418                                        Drama  2018
62419                                  Documentary  2001
62420                                 Comedy|Drama  2018
62421                           (no genres listed)  2001
62422                       Action|Adventure|Drama  1962

[62423 rows x 3 columns]>

In [11]:
#copy the movies names into new dataframe
ml_movies_df = ml_file_movies_df.copy()
ml_movies_df.describe

<bound method NDFrame.describe of                              title  \
0                        toy story
1                          jumanji
2                 grumpier old men
3                waiting to exhale
4      father of the bride part ii
...                            ...
62418                           we
62419           window of the soul
62420                    bad poems
62421                 a girl thing
62422      women of devil's island

                                            genres  year
0      Adventure|Animation|Children|Comedy|Fantasy  1995
1                       Adventure|Children|Fantasy  1995
2                                   Comedy|Romance  1995
3                             Comedy|Drama|Romance  1995
4                                           Comedy  1995
...                                            ...   ...
62418                                        Drama  2018
62419                                  Documentary  2001
62420                                 Comedy|Drama  2018
62421                           (no genres listed)  2001
62422                       Action|Adventure|Drama  1962

[62423 rows x 3 columns]>

In [12]:
movies_list = movies_df['title']

In [15]:
print("Number of movies from MovieLens dataset is {} ".format(len(movies_list)))

Number of movies from MovieLens dataset is 62423

### Query LOD for movies info (dbpedia movie link, dbpedia title, yago movie link, yago writer name, dbpedia or yago director_name, yago country, yago genre)

In [17]:
#uncomment either the call to query lod to refresh the data or the load from file
endpoint = "http://lod.openlinksw.com/sparql/"
return_format = JSON
movies_info_result_df = retrieve_data_for_movies_list(sparql_query.lod_movies_info_query, movies_names,'string', endpoint, return_format, request_method)
#save raw results of movies info query to file
movies_info_result_df.to_csv("generated_dataset/dbpedia_movies_info_query_raw_results.csv",index=False)

NameError: name 'retrieve_data_for_movies_list' is not defined

In [7]:
movies_info_result_df.describe

<bound method NDFrame.describe of                                                    movie  \
0      http://dbpedia.org/resource/!Women_Art_Revolution
1                   http://dbpedia.org/resource/$_(film)
2                      http://dbpedia.org/resource/$9.99
3                      http://dbpedia.org/resource/$9.99
4                      http://dbpedia.org/resource/$pent
...                                                  ...
73295    http://dbpedia.org/resource/Škola_základ_života
73296    http://dbpedia.org/resource/Żołnierz_zwycięstwa
73297    http://dbpedia.org/resource/Żołnierz_zwycięstwa
73298                 http://dbpedia.org/resource/Želary
73299                  http://dbpedia.org/resource/’O_Re

                       title  \
0      !Women Art Revolution
1                   $ (film)
2                      $9.99
3                      $9.99
4                      $pent
...                      ...
73295    Škola základ života
73296    Żołnierz zwycięstwa
73297    Żołnierz zwycięstwa
73298                 Želary
73299                  ’O Re

                                               yago_link  \
0      http://yago-knowledge.org/resource/!Women_Art_...
1            http://yago-knowledge.org/resource/$_(film)
2               http://yago-knowledge.org/resource/$9.99
3               http://yago-knowledge.org/resource/$9.99
4               http://yago-knowledge.org/resource/$pent
...                                                  ...
73295  http://yago-knowledge.org/resource/Škola_zákla...
73296  http://yago-knowledge.org/resource/Żołnierz_zw...
73297  http://yago-knowledge.org/resource/Żołnierz_zw...
73298          http://yago-knowledge.org/resource/Želary
73299           http://yago-knowledge.org/resource/'O_Re

                                      wiki_link           writer_name  \
0       http://www.wikidata.org/entity/Q4540204  Lynn Hershman Leeson
1       http://www.wikidata.org/entity/Q1195819        Richard Brooks
2        http://www.wikidata.org/entity/Q521188       Tatia Rosenthal
3        http://www.wikidata.org/entity/Q521188           Etgar Keret
4       http://www.wikidata.org/entity/Q4540363         Gil Cates Jr.
...                                         ...                   ...
73295  http://www.wikidata.org/entity/Q10405609      Václav Wasserman
73296   http://www.wikidata.org/entity/Q4427581        Jerzy Borejsza
73297   http://www.wikidata.org/entity/Q4427581      Wanda Jakubowska
73298   http://www.wikidata.org/entity/Q1679422        Květa Legátová
73299   http://www.wikidata.org/entity/Q3596268           Luigi Magni

              director_name
0      Lynn Hershman Leeson
1            Richard Brooks
2           Tatia Rosenthal
3           Tatia Rosenthal
4             Gil Cates Jr.
...                     ...
73295           Martin Frič
73296      Wanda Jakubowska
73297      Wanda Jakubowska
73298         Ondřej Trojan
73299           Luigi Magni

[73300 rows x 6 columns]>

In [8]:
#Group movies info results to extract the directors, writers, and titles
movies_info_grouped = movies_info_result_df.groupby(['movie','title','yago_link','wiki_link'], as_index=False)
#aggregate the directors and directors in one column for each separated by |
pedia_info_df = movies_info_grouped.agg({
                                          'director_name':lambda x: '|'.join(set(x)),
                                          'writer_name':lambda x: '|'.join(set(x))
                                         })
#save grouped data to file
pedia_info_df.to_csv("generated_dataset/dbpedia_info_grouped.csv", index=False)

### Query dbpedia for the actors for the retrieved movies

In [10]:
#uncomment either the query to refresh the data from the source or load the previously retrieved data from file
endpoint = "http://dbpedia.org/sparql"
return_format = JSON
request_method= GET
#movies_actors_results_df = retrieve_data_for_movies_list(dbpedia_actors_query,movies_names,'string',endpoint, return_format,request_method)
#movies_actors_df = movies_actors_results_df[0]
#failed_movies_actors_list = movies_actors_results_df[1]
#save movies actors results to file
#movies_actors_df.to_csv("generated_dataset/dbpedia_movies_actors_query_raw_results.csv",index=False)
movies_actors_df = pd.read_csv("generated_dataset/dbpedia_movies_actors_query_raw_results.csv")

In [11]:
movies_actors_df.describe

<bound method NDFrame.describe of                                                    movie           actor_name
0                 http://dbpedia.org/resource/12_Monkeys            Brad Pitt
1                 http://dbpedia.org/resource/12_Monkeys      Madeleine Stowe
2                 http://dbpedia.org/resource/12_Monkeys         Bruce Willis
3                 http://dbpedia.org/resource/12_Monkeys  Christopher Plummer
4                http://dbpedia.org/resource/1983_(film)          Anoop Menon
...                                                  ...                  ...
145942          http://dbpedia.org/resource/Zinda_(film)           Lara Dutta
145943            http://dbpedia.org/resource/Zoo_(film)   Russell Hodgkinson
145944  http://dbpedia.org/resource/Zombie_Nation_(film)            NOT_FOUND
145945      http://dbpedia.org/resource/Zone_of_the_Dead       Kristina Klebe
145946      http://dbpedia.org/resource/Zone_of_the_Dead            Ken Foree

[145947 rows x 2 columns]>

In [15]:
#group the actors per movie and save data to file
movies_actors_grouped = movies_actors_df.groupby(['movie'], as_index=False)

#aggregate the actors in one column for each movie separated by |
pedia_actors_df = movies_actors_grouped.agg({'actor_name':lambda x: '|'.join(set(x))
                                         })

#pedia_actors_df.to_csv("generated_dataset/dbpedia_actors_grouped.csv",index=False)

In [16]:
pedia_actors_df.describe

<bound method NDFrame.describe of                                                    movie  \
0      http://dbpedia.org/resource/!Women_Art_Revolution
1                      http://dbpedia.org/resource/$9.99
2                   http://dbpedia.org/resource/$_(film)
3                      http://dbpedia.org/resource/$pent
4                        http://dbpedia.org/resource/&ME
...                                                  ...
45107              http://dbpedia.org/resource/Zulu_Dawn
45108                  http://dbpedia.org/resource/Zurdo
45109               http://dbpedia.org/resource/Zus_&_Zo
45110              http://dbpedia.org/resource/Zvenigora
45111            http://dbpedia.org/resource/Zyzzyx_Road

                                              actor_name
0                                              NOT_FOUND
1                         Geoffrey Rush|Anthony LaPaglia
2      Robert Webber|Warren Beatty|Goldie Hawn|Scott ...
3                               Phill Lewis|Jason London
4      Teun Luijkx|Mark Waschke|Rossy de Palma|Veroni...
...                                                  ...
45107  Burt Lancaster|Simon Ward|Peter O'Toole|Denhol...
45108                  Arcelia Ramírez|Alejandro Camacho
45109          Jacob Derwig|Halina Reijn|Monic Hendrickx
45110                                          NOT_FOUND
45111            Leo Grillo|Katherine Heigl|Tom Sizemore

[45112 rows x 2 columns]>

#### Query yago for retrieved movies genre and country

In [98]:
#get the yago links for retrieved movies to query for genre and country from yago
movies_yago_links = list(movies_info_result_df.yago_link.unique())
print("number of movies retrieved info for is {}".format(len(movies_yago_links)))

number of movies retrieved info for is 47213

In [17]:
#uncomment either the query to refresh data from yago or the read statement to load previously retrieved data
endpoint = "http://yago-knowledge.org/sparql/query"
return_format = JSON
request_method= GET
#movies_genre_country_results_df = retrieve_data_for_movies_list(yago_genre_country_query,movies_yago_links,'url',endpoint, return_format,request_method)
#movies_yago_info_df =movies_genre_country_results_df[0]
#failed_movies_yago_info_list = movies_genre_country_results_df[1]
#movies_yago_info_df.to_csv("generated_dataset/yago_movies_genres_country_query_raw_results.csv",index=False)
movies_yago_info_df = pd.read_csv("generated_dataset/yago_movies_genres_country_query_raw_results.csv")

In [18]:
movies_yago_info_df.describe

<bound method NDFrame.describe of                                                yago_link         genre_id  \
0      http://yago-knowledge.org/resource/Baptism_of_...        NOT_FOUND
1      http://yago-knowledge.org/resource/Alexandra's...        NOT_FOUND
2      http://yago-knowledge.org/resource/Blood_on_th...        NOT_FOUND
3      http://yago-knowledge.org/resource/Camping_Cosmos        NOT_FOUND
4      http://yago-knowledge.org/resource/Cecilia_(19...        NOT_FOUND
...                                                  ...              ...
68526      http://yago-knowledge.org/resource/Hollow_Man         Suspense
68527      http://yago-knowledge.org/resource/Hollow_Man    Thriller_film
68528  http://yago-knowledge.org/resource/Love_Is_a_Ball  Romantic_comedy
68529      http://yago-knowledge.org/resource/Moovendhar      Action_film
68530  http://yago-knowledge.org/resource/Meet_the_Bo...  Romantic_comedy

          country_id
0             Brazil
1          Australia
2             Greece
3            Belgium
4               Cuba
...              ...
68526  United_States
68527  United_States
68528  United_States
68529          India
68530  United_States

[68531 rows x 3 columns]>

In [ ]:
#check what movies werent retrieved by yago query
yago_link_query_result = list(movies_yago_info_df['yago_link'])
print(list(set(yago_links_list) - set(yago_link_query_result)))

In [19]:
#Group movies info results to extract the genre_id and country_id
movies_yago_info_grouped = movies_yago_info_df.groupby(['yago_link'], as_index=False)
#aggregate the directors and directors in one column for each separated by |
yago_info_df = movies_yago_info_grouped.agg({'genre_id':lambda x: '|'.join(set(x)),
                                          'country_id':lambda x: '|'.join(set(x))
                                         })
#save data to file
#yago_info_df.to_csv("generated_dataset/yago_genre_country_grouped.csv",index=False)

In [33]:
#merge all dataframes to create a final dataset with the attributes, movie,title,yago_link,wiki_link,actor_name,writer_name,director_name,genre_id,country_id
final_movies_df = pedia_info_df.merge(yago_info_df, how="inner", on='yago_link')
final_movies_df = final_movies_df.merge(pedia_actors_df, how="inner", on='movie')

In [35]:
final_movies_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 41673 entries, 0 to 41672
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   movie          41673 non-null  object
 1   title          41673 non-null  object
 2   yago_link      41673 non-null  object
 3   wiki_link      41673 non-null  object
 4   director_name  41673 non-null  object
 5   writer_name    41673 non-null  object
 6   genre_id       41673 non-null  object
 7   country_id     41673 non-null  object
 8   actor_name     41673 non-null  object
dtypes: object(9)
memory usage: 3.2+ MB

In [36]:
final_movies_df.reset_index

<bound method DataFrame.reset_index of                                                    movie  \
0      http://dbpedia.org/resource/!Women_Art_Revolution
1                      http://dbpedia.org/resource/$9.99
2                      http://dbpedia.org/resource/$pent
3                        http://dbpedia.org/resource/&ME
4                 http://dbpedia.org/resource/'71_(film)
...                                                  ...
41668              http://dbpedia.org/resource/Zulu_Dawn
41669                  http://dbpedia.org/resource/Zurdo
41670               http://dbpedia.org/resource/Zus_&_Zo
41671              http://dbpedia.org/resource/Zvenigora
41672            http://dbpedia.org/resource/Zyzzyx_Road

                       title  \
0      !Women Art Revolution
1                      $9.99
2                      $pent
3                        &ME
4                 '71 (film)
...                      ...
41668              Zulu Dawn
41669                  Zurdo
41670               Zus & Zo
41671              Zvenigora
41672            Zyzzyx Road

                                               yago_link  \
0      http://yago-knowledge.org/resource/!Women_Art_...
1               http://yago-knowledge.org/resource/$9.99
2               http://yago-knowledge.org/resource/$pent
3                 http://yago-knowledge.org/resource/&ME
4          http://yago-knowledge.org/resource/'71_(film)
...                                                  ...
41668       http://yago-knowledge.org/resource/Zulu_Dawn
41669           http://yago-knowledge.org/resource/Zurdo
41670        http://yago-knowledge.org/resource/Zus_&_Zo
41671       http://yago-knowledge.org/resource/Zvenigora
41672     http://yago-knowledge.org/resource/Zyzzyx_Road

                                      wiki_link         director_name  \
0       http://www.wikidata.org/entity/Q4540204  Lynn Hershman Leeson
1        http://www.wikidata.org/entity/Q521188       Tatia Rosenthal
2       http://www.wikidata.org/entity/Q4540363         Gil Cates Jr.
3       http://www.wikidata.org/entity/Q4540370             NOT_FOUND
4      http://www.wikidata.org/entity/Q12100227          Yann Demange
...                                         ...                   ...
41668   http://www.wikidata.org/entity/Q1218876        Douglas Hickox
41669    http://www.wikidata.org/entity/Q961609         Carlos Salces
41670   http://www.wikidata.org/entity/Q1678744    Paula van der Oest
41671   http://www.wikidata.org/entity/Q1964744   Alexander Dovzhenko
41672    http://www.wikidata.org/entity/Q246211           John Penney

                                writer_name  \
0                      Lynn Hershman Leeson
1               Etgar Keret|Tatia Rosenthal
2                             Gil Cates Jr.
3                    Oscar van den Boogaard
4                             Gregory Burke
...                                     ...
41668                           Cy Endfield
41669                         Carlos Salces
41670                    Paula van der Oest
41671  Alexander Dovzhenko|Yuriy Tyutyunnyk
41672                           John Penney

                                            genre_id  \
0                                          NOT_FOUND
1                                          NOT_FOUND
2                                          NOT_FOUND
3                                    Romantic_comedy
4      Thriller_film|Action_film|War_film|Crime_film
...                                              ...
41668                                       War_film
41669                                      NOT_FOUND
41670                                Romantic_comedy
41671                                      NOT_FOUND
41672                                  Thriller_film

                                              country_id  \
0                                          United_States
1                                       Israel|Australia
2                                          United_States
3                                    Netherlands|Belgium
4                                         United_Kingdom
...                                                  ...
41668  South_Africa|United_Kingdom|United_States|Neth...
41669                                             Mexico
41670                                        Netherlands
41671   Soviet_Union|Ukrainian_Soviet_Socialist_Republic
41672                                      United_States

                                              actor_name
0                                              NOT_FOUND
1                         Geoffrey Rush|Anthony LaPaglia
2                               Phill Lewis|Jason London
3      Teun Luijkx|Mark Waschke|Rossy de Palma|Veroni...
4      Paul Anderson (actor)|Sean Harris|Jack O'Conne...
...                                                  ...
41668  Burt Lancaster|Simon Ward|Peter O'Toole|Denhol...
41669                  Arcelia Ramírez|Alejandro Camacho
41670          Jacob Derwig|Halina Reijn|Monic Hendrickx
41671                                          NOT_FOUND
41672            Leo Grillo|Katherine Heigl|Tom Sizemore

[41673 rows x 9 columns]>

In [37]:
final_movies_df.describe

<bound method NDFrame.describe of                                                    movie  \
0      http://dbpedia.org/resource/!Women_Art_Revolution
1                      http://dbpedia.org/resource/$9.99
2                      http://dbpedia.org/resource/$pent
3                        http://dbpedia.org/resource/&ME
4                 http://dbpedia.org/resource/'71_(film)
...                                                  ...
41668              http://dbpedia.org/resource/Zulu_Dawn
41669                  http://dbpedia.org/resource/Zurdo
41670               http://dbpedia.org/resource/Zus_&_Zo
41671              http://dbpedia.org/resource/Zvenigora
41672            http://dbpedia.org/resource/Zyzzyx_Road

                       title  \
0      !Women Art Revolution
1                      $9.99
2                      $pent
3                        &ME
4                 '71 (film)
...                      ...
41668              Zulu Dawn
41669                  Zurdo
41670               Zus & Zo
41671              Zvenigora
41672            Zyzzyx Road

                                               yago_link  \
0      http://yago-knowledge.org/resource/!Women_Art_...
1               http://yago-knowledge.org/resource/$9.99
2               http://yago-knowledge.org/resource/$pent
3                 http://yago-knowledge.org/resource/&ME
4          http://yago-knowledge.org/resource/'71_(film)
...                                                  ...
41668       http://yago-knowledge.org/resource/Zulu_Dawn
41669           http://yago-knowledge.org/resource/Zurdo
41670        http://yago-knowledge.org/resource/Zus_&_Zo
41671       http://yago-knowledge.org/resource/Zvenigora
41672     http://yago-knowledge.org/resource/Zyzzyx_Road

                                      wiki_link         director_name  \
0       http://www.wikidata.org/entity/Q4540204  Lynn Hershman Leeson
1        http://www.wikidata.org/entity/Q521188       Tatia Rosenthal
2       http://www.wikidata.org/entity/Q4540363         Gil Cates Jr.
3       http://www.wikidata.org/entity/Q4540370             NOT_FOUND
4      http://www.wikidata.org/entity/Q12100227          Yann Demange
...                                         ...                   ...
41668   http://www.wikidata.org/entity/Q1218876        Douglas Hickox
41669    http://www.wikidata.org/entity/Q961609         Carlos Salces
41670   http://www.wikidata.org/entity/Q1678744    Paula van der Oest
41671   http://www.wikidata.org/entity/Q1964744   Alexander Dovzhenko
41672    http://www.wikidata.org/entity/Q246211           John Penney

                                writer_name  \
0                      Lynn Hershman Leeson
1               Etgar Keret|Tatia Rosenthal
2                             Gil Cates Jr.
3                    Oscar van den Boogaard
4                             Gregory Burke
...                                     ...
41668                           Cy Endfield
41669                         Carlos Salces
41670                    Paula van der Oest
41671  Alexander Dovzhenko|Yuriy Tyutyunnyk
41672                           John Penney

                                            genre_id  \
0                                          NOT_FOUND
1                                          NOT_FOUND
2                                          NOT_FOUND
3                                    Romantic_comedy
4      Thriller_film|Action_film|War_film|Crime_film
...                                              ...
41668                                       War_film
41669                                      NOT_FOUND
41670                                Romantic_comedy
41671                                      NOT_FOUND
41672                                  Thriller_film

                                              country_id  \
0                                          United_States
1                                       Israel|Australia
2                                          United_States
3                                    Netherlands|Belgium
4                                         United_Kingdom
...                                                  ...
41668  South_Africa|United_Kingdom|United_States|Neth...
41669                                             Mexico
41670                                        Netherlands
41671   Soviet_Union|Ukrainian_Soviet_Socialist_Republic
41672                                      United_States

                                              actor_name
0                                              NOT_FOUND
1                         Geoffrey Rush|Anthony LaPaglia
2                               Phill Lewis|Jason London
3      Teun Luijkx|Mark Waschke|Rossy de Palma|Veroni...
4      Paul Anderson (actor)|Sean Harris|Jack O'Conne...
...                                                  ...
41668  Burt Lancaster|Simon Ward|Peter O'Toole|Denhol...
41669                  Arcelia Ramírez|Alejandro Camacho
41670          Jacob Derwig|Halina Reijn|Monic Hendrickx
41671                                          NOT_FOUND
41672            Leo Grillo|Katherine Heigl|Tom Sizemore

[41673 rows x 9 columns]>

In [32]:
#replace the not found values with null to be able to handle them easier
final_movies_df.replace("NOT_FOUND", np.nan ,inplace=True)

In [38]:
#write final dataset to file
final_movies_df.to_csv("generated_dataset/final_movies_dataset.csv",index=False)