In [1]:
#!/usr/bin/env python
# -*- coding: latin-1 -*-
import pandas as pd 
import numpy as np 
import csv
import logging
from SPARQLWrapper import SPARQLWrapper,JSON, SPARQLWrapper2, POST,XML,GET
from collections import defaultdict
from tqdm.notebook import tqdm
import query_helper_functions as q_helper
import sparql_query as sparql_query
import imp
imp.reload(q_helper)
imp.reload(sparql_query)

In [2]:
logging.basicConfig(format='%(asctime)s : %(levelname)s : %(message)s', level=logging.INFO)

tqdm.pandas(desc="progress bar")
pd.set_option('display.max_rows', 2000)

d:\programs\python39\lib\site-packages\tqdm\std.py:703: FutureWarning: The Panel class is removed from pandas. Accessing it from the top-level namespace will also be removed in the next version
  from pandas import Panel

In [3]:
ml_file_movies_df = pd.read_csv('../dataset/ml_movies.csv')

In [4]:
ml_file_movies_df

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
62418,209157,We (2018),Drama
62419,209159,Window of the Soul (2001),Documentary
62420,209163,Bad Poems (2018),Comedy|Drama
62421,209169,A Girl Thing (2001),(no genres listed)
62422,209171,Women of Devil's Island (1962),Action|Adventure|Drama

In [ ]:
ml_file_movies_df[10:20]

In [5]:
#clean titles in ml data
#delete any record with empty title
ml_file_movies_df= ml_file_movies_df.loc[~(ml_file_movies_df['title']=="")]
# extract the year from the title and save it in a new column
ml_file_movies_df['year'] =  ml_file_movies_df.title.str.extract(r'\(([0-9]+)\)')
# remove any parentheses and text in between from the title
ml_file_movies_df['title'] = ml_file_movies_df['title'].str.replace(r"\(.*\)","")
#remove white spaces from the title and convert it to lower case
ml_file_movies_df.title = ml_file_movies_df.title.str.strip().str.lower()
#remove double qoutation from title
ml_file_movies_df['title'] = ml_file_movies_df['title'].str.replace("\"","")
#move "the" from the end of the title to the begining
ml_file_movies_df['title'] = ml_file_movies_df['title'].apply(lambda row: 'the ' + row.replace(", the", "") if ", the" in row else row)

In [6]:
ml_file_movies_df

,movieId,title,genres,year
0,1,toy story,Adventure|Animation|Children|Comedy|Fantasy,1995
1,2,jumanji,Adventure|Children|Fantasy,1995
2,3,grumpier old men,Comedy|Romance,1995
3,4,waiting to exhale,Comedy|Drama|Romance,1995
4,5,father of the bride part ii,Comedy,1995
...,...,...,...,...
62418,209157,we,Drama,2018
62419,209159,window of the soul,Documentary,2001
62420,209163,bad poems,Comedy|Drama,2018
62421,209169,a girl thing,(no genres listed),2001
62422,209171,women of devil's island,Action|Adventure|Drama,1962

In [7]:
#copy thedata into new dataframe
ml_movies_df = ml_file_movies_df.copy()
ml_movies_df.describe

<bound method NDFrame.describe of        movieId                        title  \
0            1                    toy story
1            2                      jumanji
2            3             grumpier old men
3            4            waiting to exhale
4            5  father of the bride part ii
...        ...                          ...
62418   209157                           we
62419   209159           window of the soul
62420   209163                    bad poems
62421   209169                 a girl thing
62422   209171      women of devil's island

                                            genres  year
0      Adventure|Animation|Children|Comedy|Fantasy  1995
1                       Adventure|Children|Fantasy  1995
2                                   Comedy|Romance  1995
3                             Comedy|Drama|Romance  1995
4                                           Comedy  1995
...                                            ...   ...
62418                                        Drama  2018
62419                                  Documentary  2001
62420                                 Comedy|Drama  2018
62421                           (no genres listed)  2001
62422                       Action|Adventure|Drama  1962

[62423 rows x 4 columns]>

In [8]:
# importing the string module
import string
# special characters
special_chars = string.punctuation
special_chars

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [9]:
ml_movies_df[ml_movies_df.title.apply(lambda title: True if title in special_chars else False)]

       movieId title                genres  year
13495    69757        Comedy|Drama|Romance   500
15292    80729                Comedy|Drama  2009
16130    85177     $    Comedy|Crime|Drama  1971
22515   115263                 Documentary  2011
34557   145733          Adventure|Children  2011
35125   147033        Documentary|Thriller  2015
40668   160010                 Documentary  2015
56000   193219              Comedy|Romance  2018

In [ ]:
ml_movies_df[ml_movies_df['movieId']==115263]

In [ ]:
ml_movies_df[ml_movies_df['title']==""]

In [ ]:
movies_list = ml_movies_df['title'].values.tolist()

In [ ]:
print("Number of movies from MovieLens dataset is {} ".format(len(movies_list)))

# Query DBPedia for MovieLens Data

In [ ]:
#uncomment either the call to query lod to refresh the data or the load from file
endpoint = "https://dbpedia.org/sparql"
return_format = XML
request_method= POST
chunck_size = 2000
#movies_info_result_df = q_helper.retrieve_data_for_movies_list(sparql_query.dbpedia_movies_info_query, movies_list, chunck_size,'string', endpoint, return_format, request_method)
movies_info_df = movies_info_result_df[0].copy()
failed_movies_info_list = movies_info_result_df[1].copy()
#save raw results of movies info query to file
#movies_info_df.to_csv("generated_dataset/dbpedia_movie_info_query_raw_results.csv",index=False)

In [ ]:
movies_info_df = pd.read_csv("generated_dataset/dbpedia_movie_info_query_raw_results.csv")
movies_info_df

In [ ]:
movies_info_df['movie_id']= movies_info_df.pedia_movie.str.split('http://dbpedia.org/resource/').str[1]

movies_info_df = movies_info_df.fillna('NOT_FOUND')
movies_info_df['country']= movies_info_df['country'].apply(lambda country: 
                                                 country.split('http://dbpedia.org/resource/')[1] if 'dbpedia.org/resource/' in country else country )

In [ ]:
#Group movies info results to extract the directors, writers, and titles
movies_info_grouped = movies_info_df.groupby(['movie_id','title'], as_index=False)
#aggregate the directors and directors in one column for each separated by |
dbpedia_info_df = movies_info_grouped.agg({
                                        'director_name':lambda x:  '|'.join(set(x)),
                                        'writer_name':lambda x: '|'.join(set(x)),                                      
                                        'country':lambda x: '|'.join(set(x))
                                        })
#save grouped data to file
dbpedia_info_df.to_csv("generated_dataset/dbpedia_movie_info_grouped.csv", index=False)

In [ ]:
dbpedia_info_df

In [88]:
dbpedia_info_df = pd.read_csv("generated_dataset/dbpedia_movie_info_grouped.csv")

# Data analysis for the retrieved movies info (director, writer, country) from DBpedia

In [ ]:
pedia_info_no_features = len(dbpedia_info_df[
                         ((dbpedia_info_df.director_name == 'NOT_FOUND')
                          & (dbpedia_info_df.writer_name == 'NOT_FOUND')                          
                          & (dbpedia_info_df.country == 'NOT_FOUND'))])

 
pedia_info_all_features = len(dbpedia_info_df[
                              ((dbpedia_info_df.director_name != 'NOT_FOUND')
                              & (dbpedia_info_df.writer_name != 'NOT_FOUND')                          
                              & (dbpedia_info_df.country != 'NOT_FOUND'))])

pedia_info_no_country = len(dbpedia_info_df[
                             ((dbpedia_info_df.director_name != 'NOT_FOUND')
                          &  (dbpedia_info_df.writer_name != 'NOT_FOUND')                          
                          &  (dbpedia_info_df.country == 'NOT_FOUND'))])

pedia_info_no_writer = len(dbpedia_info_df[
                             ((dbpedia_info_df.director_name != 'NOT_FOUND')
                          &  (dbpedia_info_df.writer_name == 'NOT_FOUND')                          
                          &  (dbpedia_info_df.country != 'NOT_FOUND'))])

pedia_info_no_director = len(dbpedia_info_df[
                             ((dbpedia_info_df.director_name == 'NOT_FOUND')
                          &  (dbpedia_info_df.writer_name != 'NOT_FOUND')                          
                          &  (dbpedia_info_df.country != 'NOT_FOUND'))])

In [ ]:
print("Number of ML movies retrieved from DBpedia with their info is {}".format(len(dbpedia_info_df)))
print("Number of movies missing all features is {}".format(pedia_info_no_features))
print("Number of movies having all features is {}".format(pedia_info_all_features))
print("Number of movies missing ONLY the country feature is {}".format(pedia_info_no_country))
print("Number of movies missing ONLY the writer feature is {}".format(pedia_info_no_writer))
print("Number of movies missing ONLY the director feature is {}".format(pedia_info_no_director))

In [ ]:
# Load DBpedia movies information from last query results
#dbpedia_info_df= pd.read_csv("generated_dataset/dbpedia_movie_info_grouped.csv")
#dbpedia_info_df

# Query DBpedia for the actors of the ML movies

In [ ]:
#uncomment either the query to refresh the data from the source or load the previously retrieved data from file
endpoint = "https://dbpedia.org/sparql"
return_format = XML
request_method= POST
chunk_size = 2000
#movies_actors_results_df = q_helper.retrieve_data_for_movies_list(sparql_query.dbpedia_movies_actors_query,movies_list,chunk_size,'string',endpoint, return_format,request_method)
movies_actors_df= movies_actors_results_df[0].copy()
failed_movies_actors_list = movies_actors_results_df[1].copy()
#save movies actors results to file
movies_actors_df.to_csv("generated_dataset/dbpedia_movies_actors_query_raw_results.csv",index=False)

In [ ]:
movies_actors_df= pd.read_csv("generated_dataset/dbpedia_movies_actors_query_raw_results.csv")
movies_actors_df

In [ ]:

#create movie id by extracting the dbpedia movie id from the link
movies_actors_df['movie_id']= movies_actors_df.pedia_movie.str.split('http://dbpedia.org/resource/').str[1]
movies_actors_df = movies_actors_df.fillna('NOT_FOUND')

In [ ]:
movies_actors_df

In [ ]:
#group the actors per movie and save data to file
movies_actors_grouped = movies_actors_df.groupby(['movie_id'], as_index=False)
#aggregate the actors in one column for each movie separated by |
dbpedia_movies_actors_df = movies_actors_grouped.agg({'actor_name':lambda x: '|'.join(set(x))
                                         })

dbpedia_movies_actors_df.to_csv("generated_dataset/dbpedia_actors_grouped.csv",index=False)

In [ ]:
dbpedia_movies_actors_df

In [ ]:
dbpedia_movies_actors_df.isnull().values.any()

#group the actors per movie and save data to file
movies_actors_grouped = movies_actors_df.groupby(['movie_id'], as_index=False)
#aggregate the actors in one column for each movie separated by |
dbpedia_movies_actors_df = movies_actors_grouped.agg({'actor_name':lambda x: '|'.join(set(x))
                                         })
#Group movies info results to extract the directors, writers, and titles
movies_info_grouped = movies_info_df.groupby(['movie_id','title'], as_index=False)
#aggregate the directors and directors in one column for each separated by |
dbpedia_info_df = movies_info_grouped.agg({
                                        'director_name':lambda x:  '|'.join(set(x)),
                                        'writer_name':lambda x: '|'.join(set(x)),                                      
                                        'country':lambda x: '|'.join(set(x))
                                        })
#merge dbpedia dataframes to create a combined yago dataset with the attributes, movie_id,title,actor_name,director_name,genre,country
dbpedia_movies_df = dbpedia_info_df.merge(dbpedia_movies_actors_df, how="inner", on=['movie_id'])
dbpedia_movies_df.reset_index(drop= True)

In [ ]:
print("Number of ML movies found in DBpedia while querying for actors is {}".format(len(dbpedia_movies_actors_df)))
print("Number of movies retrieved from DBpedia and missing actors is {}".format(dbpedia_movies_no_actors))

In [87]:
# Load DBpedia movies actors from last query results
dbpedia_movies_actors_df= pd.read_csv("generated_dataset/dbpedia_actors_grouped.csv")
#dbpedia_movies_actors_df

In [89]:
#merge dbpedia dataframes to create a combined yago dataset with the attributes, movie_id,title,actor_name,director_name,genre,country
dbpedia_movies_df = dbpedia_info_df.merge(dbpedia_movies_actors_df, how="inner", on=['movie_id'])

dbpedia_movies_df.reset_index(drop= True)
dbpedia_movies_df

,movie_id,title,director_name,writer_name,country,actor_name
0,$9.99,$9.99,Tatia Rosenthal,Etgar Keret|Tatia Rosenthal,Israel|Australia,Geoffrey Rush|Anthony LaPaglia
1,$_(film),$,Richard Brooks,Richard Brooks,USA,Robert Webber|Gert Fröbe|Warren Beatty|Scott B...
2,'68_(film),'68,Steven Kovacs,Steven Kovacs,United States,NOT_FOUND
3,'71_(film),'71,Yann Demange,Gregory Burke,United Kingdom,Richard Dormer|Charlie Murphy (actress)|Sean H...
4,'Gator_Bait,'Gator Bait,Beverly Sebastion,Beverly Sebastion,United States,Claudia Jennings
...,...,...,...,...,...,...
40208,Zulu_(1964_film),Zulu,Cy Endfield,John Prebble|Cy Endfield,United Kingdom\n*United States,Ulla Jacobsson|Stanley Baker|James Booth|Micha...
40209,Zulu_(2013_film),Zulu,Jérôme Salle,Jérôme Salle,France,Forest Whitaker|Orlando Bloom
40210,Zulu_Dawn,Zulu dawn,Douglas Hickox,Cy Endfield,United States,Bob Hoskins|Denholm Elliott|Peter O'Toole|Mich...
40211,Zus_&_Zo,Zus & Zo,Paula van der Oest,Paula van der Oest,Netherlands,Monic Hendrickx|Jacob Derwig|Halina Reijn
40212,Zvenigora,Zvenigora,Alexander Dovzhenko,Yuriy Tyutyunnyk|Alexander Dovzhenko,Soviet_Union,NOT_FOUND

# DBpedia data statistics

In [ ]:
pedia_info_no_features = len(dbpedia_movies_df[
                         ((dbpedia_movies_df.director_name == 'NOT_FOUND')
                          & (dbpedia_movies_df.writer_name == 'NOT_FOUND')                          
                          & (dbpedia_movies_df.country == 'NOT_FOUND')
                          & (dbpedia_movies_df.actor_name == 'NOT_FOUND'))])

 
pedia_info_all_features = len(dbpedia_movies_df[
                              ((dbpedia_movies_df.director_name != 'NOT_FOUND')
                              & (dbpedia_movies_df.writer_name != 'NOT_FOUND')                          
                              & (dbpedia_movies_df.country != 'NOT_FOUND')
                              & (dbpedia_movies_df.actor_name != 'NOT_FOUND'))])

pedia_info_no_country = len(dbpedia_movies_df[
                             ((dbpedia_movies_df.director_name != 'NOT_FOUND')
                          &  (dbpedia_movies_df.writer_name != 'NOT_FOUND')                          
                          &  (dbpedia_movies_df.country == 'NOT_FOUND')
                          & (dbpedia_movies_df.actor_name !='NOT_FOUND'))])

pedia_info_no_writer = len(dbpedia_movies_df[
                             ((dbpedia_movies_df.director_name != 'NOT_FOUND')
                          &  (dbpedia_movies_df.writer_name == 'NOT_FOUND')                          
                          &  (dbpedia_movies_df.country != 'NOT_FOUND')
                          & (dbpedia_movies_df.actor_name != 'NOT_FOUND'))])

pedia_info_no_director = len(dbpedia_movies_df[
                             ((dbpedia_movies_df.director_name == 'NOT_FOUND')
                          &  (dbpedia_movies_df.writer_name != 'NOT_FOUND')                          
                          &  (dbpedia_movies_df.country != 'NOT_FOUND')
                          & (dbpedia_movies_df.actor_name != 'NOT_FOUND'))])

pedia_info_no_actor = len(dbpedia_movies_df[
                             ((dbpedia_movies_df.director_name != 'NOT_FOUND')
                          &  (dbpedia_movies_df.writer_name != 'NOT_FOUND')                          
                          &  (dbpedia_movies_df.country != 'NOT_FOUND')
                          & (dbpedia_movies_df.actor_name == 'NOT_FOUND'))])

In [ ]:
print("Number of ML movies retrieved from DBpedia with their info is {}".format(len(dbpedia_info_df)))
print("Number of movies missing all features is {}".format(pedia_info_no_features))
print("Number of movies having all features is {}".format(pedia_info_all_features))
print("Number of movies missing ONLY the country feature is {}".format(pedia_info_no_country))
print("Number of movies missing ONLY the writer feature is {}".format(pedia_info_no_writer))
print("Number of movies missing ONLY the director feature is {}".format(pedia_info_no_director))
print("Number of movies missing ONLY the actor feature is {}".format(pedia_info_no_actor))

# Query YAGO for MovieLens Data

In [ ]:
#uncomment either the call to query yago to refresh the data or the load from file
#endpoint = "http://yago-knowledge.org/sparql"
endpoint="https://yago-knowledge.org/sparql/query"
return_format = JSON
request_method= POST
chunck_size = 150
#movies_info_result_df1 = q_helper.retrieve_data_for_movies_list(sparql_query.yago_movie_info_query, movies_list, chunck_size,'string', endpoint, return_format, request_method)
#movies_info_df = movies_info_result_df[0].copy()
#failed_movies_info_list = movies_info_result_df[1].copy()
#save raw results of movies info query to file
#movies_info_df.to_csv("generated_dataset/yago_movie_info_query_raw_results.csv",index=False)

In [ ]:
movies_info_df = pd.read_csv("generated_dataset/yago_movie_info_query_raw_results.csv")

In [ ]:
movies_info_df

In [ ]:
movies_info_df = movies_info_df.fillna('NOT_FOUND')

In [ ]:
len(movies_info_df)
movies_info_df['movie_id']= movies_info_df.yago_movie.str.split('http://yago-knowledge.org/resource/').str[1]
movies_info_df

In [ ]:
#Group movies info results to extract the directors, writers, and titles
movies_info_grouped = movies_info_df.groupby(['movie_id','title'], as_index=False)
#aggregate the directors and directors in one column for each separated by |
yago_info_df = movies_info_grouped.agg({
                                        'director_name':lambda x: np.nan if x is None else '|'.join(set(x)),
                                        'genre':lambda x: '|'.join(set(x)),                                      
                                        'country':lambda x: '|'.join(set(x))
                                        })
#save grouped data to file
yago_info_df.to_csv("generated_dataset/yago_movie_info_grouped.csv", index=False)

In [90]:
yago_info_df= pd.read_csv("generated_dataset/yago_movie_info_grouped.csv")

In [ ]:
yago_info_df

In [ ]:
duplicated_titles = yago_info_df[(yago_info_df.title.duplicated()== True)].title.values.tolist()

In [ ]:
yago_info_df[yago_info_df.title.isin(duplicated_titles)]

In [ ]:
x.sort_values(by=['title','movie_id'], inplace=True)
x

In [ ]:
 yago_info_df[yago_info_df.movie_id.duplicated()== True]

In [ ]:
yago_info_df[yago_info_df['title'] =='\'Twas the Night Before Christmas']

In [ ]:
x

In [ ]:
print("Number of ML movies retrieved from YAGO with their info is {}".format(len(yago_info_df)))

# Load yago movies information

In [ ]:
yago_info_df= pd.read_csv("generated_dataset/yago_movie_info_grouped.csv")
yago_info_df

# Query YAGO for the actors of the ML movies

In [ ]:
#uncomment either the query to refresh the data from the source or load the previously retrieved data from file
#endpoint = "https://yago-knowledge.org/sparql"
endpoint="http://lod2.openlinksw.com/sparql"
return_format = XML
request_method= POST
chunk_size = 2000
#movies_actors_results_df = q_helper.retrieve_data_for_movies_list(sparql_query.yago_movies_actors_query,movies_list,chunk_size,'string',endpoint, return_format,request_method)
movies_actors_df= movies_actors_results_df[0].copy()
failed_movies_actors_list = movies_actors_results_df[1].copy()
#save raw results of movies actors query to file
movies_actors_df.to_csv("generated_dataset/yago_movie_info_actors_raw_results.csv",index=False)

# Load movies actors from last query results

In [ ]:
movies_actors_df= pd.read_csv("generated_dataset/yago_movie_actors_query_raw_results.csv")
movies_actors_df.describe

In [ ]:
movies_actors_df = movies_actors_df.fillna('NOT_FOUND')
movies_actors_df['movie_id']= movies_actors_df.yago_movie.str.split('http://yago-knowledge.org/resource/').str[1]

In [ ]:
#group the actors per movie and save data to file
movies_actors_grouped = movies_actors_df.groupby(['movie_id'], as_index=False)

#aggregate the actors in one column for each movie separated by |
yago_movies_actors_df = movies_actors_grouped.agg({'actor_name':lambda x: '|'.join(set(x))
                                         })

yago_movies_actors_df.to_csv("generated_dataset/yago_actors_grouped.csv",index=False)

In [ ]:
yago_movies_actors_df.describe

In [ ]:
yago_movies_actors_df.isnull().values.any()

In [ ]:
print("Number of ML movies retrieved from LOD with their actors is {}".format(len(dbpedia_movies_actors_df)))

In [92]:
yago_movies_actors_df = pd.read_csv("generated_dataset/yago_actors_grouped.csv")

# Merge the actors dataframe with the movies information to create one dataframe for YAGO movies

In [93]:
#merge yago dataframes to create a combined yago dataset with the attributes, movie_id,title,actor_name,director_name,genre,country
yago_movies_df = yago_info_df.merge(yago_movies_actors_df, how="inner", on=['movie_id'])

yago_movies_df.reset_index(drop= True)
yago_movies_df

,movie_id,title,director_name,genre,country,actor_name
0,$9.99,$9.99,Etgar Keret|Tatia Rosenthal,NOT_FOUND,Israel|Australia,NOT_FOUND
1,'68_(film),'68,Steven Kovacs,LGBT-related_film_Q20442589,United_States,Jan Němec|Neil Young
2,'71_(film),'71,Yann Demange,Crime_film|Thriller_film|War_film|Action_film,United_Kingdom,Richard Dormer|David Wilmot|Liam McMahon|Sean ...
3,'96_(film),96,NOT_FOUND,Romance_film,India,NOT_FOUND
4,'Gator_Bait,'Gator Bait,Beverly Sebastion,Thriller_film|Action_film,United_States,Claudia Jennings
...,...,...,...,...,...,...
54772,Édith_et_Marcel,Édith et Marcel,Claude Lelouch,Comedy-drama,France,Marc Berman|Marcel Cerdan Jr|Tanya Lopert|Mick...
54773,"Ó_Paí,_Ó","Ó Paí, Ó",Monique Gardenberg,Musical_film|Comedy-drama,Brazil,Wagner Moura|Lázaro Ramos
54774,Ödipussi,Ödipussi,Vicco von Bülow,NOT_FOUND,Germany,Richard Lauffen|Udo Thomer|Evelyn Hamann|Katha...
54775,İksir,İksir,NOT_FOUND,NOT_FOUND,Turkey,Seda Güven|Keremcem
54776,Şabaniye,Şabaniye,Kartal Tibet,NOT_FOUND,Turkey,Aliye Rona|Kemal Sunal|Adile Naşit

In [94]:
yago_info_no_features = len(yago_movies_df[
                         ((yago_movies_df.director_name == 'NOT_FOUND')
                          & (yago_movies_df.genre == 'NOT_FOUND')                          
                          & (yago_movies_df.country == 'NOT_FOUND')
                          & (yago_movies_df.actor_name == 'NOT_FOUND'))])

 
yago_info_all_features = len(yago_movies_df[
                              ((yago_movies_df.director_name != 'NOT_FOUND')
                              & (yago_movies_df.genre != 'NOT_FOUND')                          
                              & (yago_movies_df.country != 'NOT_FOUND')
                              & (yago_movies_df.actor_name != 'NOT_FOUND'))])

yago_info_no_country = len(yago_movies_df[
                             ((yago_movies_df.director_name != 'NOT_FOUND')
                          &  (yago_movies_df.genre != 'NOT_FOUND')                          
                          &  (yago_movies_df.country == 'NOT_FOUND')
                          & (yago_movies_df.actor_name !='NOT_FOUND'))])

yago_info_no_genre = len(yago_movies_df[
                             ((yago_movies_df.director_name != 'NOT_FOUND')
                          &  (yago_movies_df.genre == 'NOT_FOUND')                          
                          &  (yago_movies_df.country != 'NOT_FOUND')
                          & (yago_movies_df.actor_name != 'NOT_FOUND'))])

yago_info_no_director = len(yago_movies_df[
                             ((yago_movies_df.director_name == 'NOT_FOUND')
                          &  (yago_movies_df.genre != 'NOT_FOUND')                          
                          &  (yago_movies_df.country != 'NOT_FOUND')
                          & (yago_movies_df.actor_name != 'NOT_FOUND'))])

yago_info_no_actor = len(yago_movies_df[
                             ((yago_movies_df.director_name != 'NOT_FOUND')
                          &  (yago_movies_df.genre != 'NOT_FOUND')                          
                          &  (yago_movies_df.country != 'NOT_FOUND')
                          & (yago_movies_df.actor_name == 'NOT_FOUND'))])

In [95]:
print("Number of ML movies retrieved from YAGO with their info is {}".format(len(yago_info_df)))
print("Number of movies missing all features is {}".format(yago_info_no_features))
print("Number of movies having all features is {}".format(yago_info_all_features))
print("Number of movies missing ONLY the country feature is {}".format(yago_info_no_country))
print("Number of movies missing ONLY the genre feature is {}".format(yago_info_no_genre))
print("Number of movies missing ONLY the director feature is {}".format(yago_info_no_director))
print("Number of movies missing ONLY the actor feature is {}".format(yago_info_no_actor))

Number of ML movies retrieved from YAGO with their info is 54789
Number of movies missing all features is 474
Number of movies having all features is 25226
Number of movies missing ONLY the country feature is 421
Number of movies missing ONLY the genre feature is 12722
Number of movies missing ONLY the director feature is 2629
Number of movies missing ONLY the actor feature is 2549

In [96]:
final_movies_df = yago_movies_df.merge(dbpedia_movies_df, how="inner", on=['movie_id','title'])
final_movies_df = final_movies_df.fillna('NOT_FOUND')
final_movies_df.describe

In [83]:
#final_movies_df= pd.read_csv("generated_dataset/yago_pedia_ml_final_movies_list.csv")

In [97]:
final_movies_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 36358 entries, 0 to 36357
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   movie_id         36358 non-null  object
 1   title            36358 non-null  object
 2   director_name_x  36358 non-null  object
 3   genre            36358 non-null  object
 4   country_x        36358 non-null  object
 5   actor_name_x     36358 non-null  object
 6   director_name_y  36358 non-null  object
 7   writer_name      36358 non-null  object
 8   country_y        36358 non-null  object
 9   actor_name_y     36358 non-null  object
dtypes: object(10)
memory usage: 3.1+ MB

In [98]:
final_movies_df

,movie_id,title,director_name_x,genre,country_x,actor_name_x,director_name_y,writer_name,country_y,actor_name_y
0,$9.99,$9.99,Etgar Keret|Tatia Rosenthal,NOT_FOUND,Israel|Australia,NOT_FOUND,Tatia Rosenthal,Etgar Keret|Tatia Rosenthal,Israel|Australia,Geoffrey Rush|Anthony LaPaglia
1,'68_(film),'68,Steven Kovacs,LGBT-related_film_Q20442589,United_States,Jan Němec|Neil Young,Steven Kovacs,Steven Kovacs,United States,NOT_FOUND
2,'71_(film),'71,Yann Demange,Crime_film|Thriller_film|War_film|Action_film,United_Kingdom,Richard Dormer|David Wilmot|Liam McMahon|Sean ...,Yann Demange,Gregory Burke,United Kingdom,Richard Dormer|Charlie Murphy (actress)|Sean H...
3,'Gator_Bait,'Gator Bait,Beverly Sebastion,Thriller_film|Action_film,United_States,Claudia Jennings,Beverly Sebastion,Beverly Sebastion,United States,Claudia Jennings
4,'Neath_Brooklyn_Bridge,'Neath Brooklyn Bridge,Wallace Fox,NOT_FOUND,United_States,Leo Gorcey|Gabriel Dell|Bobby Jordan|Huntz Hall,Wallace Fox,Harvey Gates,United States,Leo Gorcey|Gabriel Dell|Bobby Jordan|Huntz Hall
...,...,...,...,...,...,...,...,...,...,...
36353,Zozo,Zozo,Josef Fares,NOT_FOUND,United_Kingdom|Sweden|Lebanon,Carmen Lebbos,Josef Fares,Josef Fares,Sweden,Carmen Lebbos
36354,Zubeidaa,Zubeidaa,Shyam Benegal,Romance_film,India,Rekha|Karisma Kapoor|Farida Jalal|Amrish Puri,Shyam Benegal,Khalid Mohamed,NOT_FOUND,NOT_FOUND
36355,Zulu_(1964_film),Zulu,Cy Endfield,Adventure_film|War_film,United_Kingdom,Ulla Jacobsson|Gary Bond|Stanley Baker|Mangosu...,Cy Endfield,John Prebble|Cy Endfield,United Kingdom\n*United States,Ulla Jacobsson|Stanley Baker|James Booth|Micha...
36356,Zulu_(2013_film),Zulu,Jérôme Salle,Crime_film,France,Orlando Bloom|Forest Whitaker|Tanya van Graan,Jérôme Salle,Jérôme Salle,France,Forest Whitaker|Orlando Bloom
36357,Zus_&_Zo,Zus & Zo,Paula van der Oest,Romantic_comedy,Netherlands,Monic Hendrickx|Jacob Derwig|Halina Reijn,Paula van der Oest,Paula van der Oest,Netherlands,Monic Hendrickx|Jacob Derwig|Halina Reijn

In [99]:
def select_values(to_keep_val, other_val):
    if (str(to_keep_val) != "NOT_FOUND"):
        return to_keep_val
    else:
        return other_val

In [102]:
#keep dbpedia value if both exist
final_movies_df['actor_name'] = final_movies_df.progress_apply(lambda row: select_values(row.actor_name_y, row.actor_name_x), axis=1)
#keep director from yago if exists in both
final_movies_df['director_name'] = final_movies_df.progress_apply(lambda row: select_values(row.director_name_x, row.director_name_y), axis=1)
#keep director from yago if exists in both
final_movies_df['country'] = final_movies_df.progress_apply(lambda row: select_values(row.country_x, row.country_y), axis=1)

HBox(children=(HTML(value='progress bar'), FloatProgress(value=0.0, max=36358.0), HTML(value='')))

HBox(children=(HTML(value='progress bar'), FloatProgress(value=0.0, max=36358.0), HTML(value='')))

In [105]:
final_movies_df[['director_name_x','director_name_y', 'director_name']].head(50)

,director_name_x,director_name_y,director_name
0,Etgar Keret|Tatia Rosenthal,Tatia Rosenthal,Etgar Keret|Tatia Rosenthal
1,Steven Kovacs,Steven Kovacs,Steven Kovacs
2,Yann Demange,Yann Demange,Yann Demange
3,Beverly Sebastion,Beverly Sebastion,Beverly Sebastion
4,Wallace Fox,Wallace Fox,Wallace Fox
5,Harry L. Fraser,Harry L. Fraser,Harry L. Fraser
6,Abel Ferrara,Abel Ferrara,Abel Ferrara
7,Scott Winant,Scott Winant,Scott Winant
8,Nick Castle,Nick Castle,Nick Castle
9,NOT_FOUND,Tim Kiley,Tim Kiley
10,Dennis Iliadis,Dennis Iliadis,Dennis Iliadis
11,Jim Abrahams,Jim Abrahams,Jim Abrahams
12,NOT_FOUND,Lee Eon-hee,Lee Eon-hee
13,NOT_FOUND,Gary Lennon,Gary Lennon
14,Umberto Lenzi,Umberto Lenzi,Umberto Lenzi
15,Bertrand Blier,Bertrand Blier,Bertrand Blier
16,Theo van Gogh,Theo van Gogh (film director),Theo van Gogh
17,NOT_FOUND,NOT_FOUND,NOT_FOUND
18,Roland Emmerich,Roland Emmerich,Roland Emmerich
19,Robert Townsend,Robert Townsend (actor),Robert Townsend
20,Sukumar,Sukumar (director),Sukumar
21,Rabi Kinagi,Rabi Kinagi,Rabi Kinagi
22,Bent Hamer,Bent Hamer,Bent Hamer
23,NOT_FOUND,Colin Cairnes|Cameron Cairnes,Colin Cairnes|Cameron Cairnes
24,Partho Ghosh,Partho Ghosh,Partho Ghosh
25,NOT_FOUND,NOT_FOUND,NOT_FOUND
26,Henry Chan,Henry Chan,Henry Chan
27,Huseyn Erkenov,NOT_FOUND,Huseyn Erkenov
28,NOT_FOUND,Jenuse Mohamed,Jenuse Mohamed
29,Shin Jai-ho,NOT_FOUND,Shin Jai-ho
30,Eric Red,Eric Red,Eric Red
31,NOT_FOUND,Martin Andersen,Martin Andersen
32,Michael Davis,Michael Davis (director),Michael Davis
33,Griff Furst,Griff Furst,Griff Furst
34,Tom Gries,Tom Gries,Tom Gries
35,NOT_FOUND,Marcus Koch,Marcus Koch
36,Masaharu Take,NOT_FOUND,Masaharu Take
37,Stephen Herek,Stephen Herek,Stephen Herek
38,NOT_FOUND,Randy Barbato|Fenton Bailey,Randy Barbato|Fenton Bailey
39,Kevin Lima,Kevin Lima,Kevin Lima
40,Umesh Shukla,Umesh Shukla,Umesh Shukla
41,Blake Edwards,Blake Edwards,Blake Edwards
42,Dan Trachtenberg,Dan Trachtenberg,Dan Trachtenberg
43,Timothy Hines,Timothy Hines,Timothy Hines
44,Brad Silberling,Brad Silberling,Brad Silberling
45,Ahmed Imamović,Ahmed Imamovic,Ahmed Imamović
46,NOT_FOUND,NOT_FOUND,NOT_FOUND
47,Rick Ray,Rick Ray,Rick Ray
48,Richard Fleischer,Richard Fleischer,Richard Fleischer
49,Leslie Greif,Leslie Greif,Leslie Greif

In [ ]:
final_movies_df

In [129]:

all_movies_df = final_movies_df[['movie_id','title','actor_name','director_name','writer_name','country','genre']].copy()
all_movies_df.to_csv("generated_dataset/yago_pedia_ml_final_movies_list.csv",index= False)

In [107]:
all_movies_df

,movie_id,title,actor_name,director_name,writer_name,country,genre
0,$9.99,$9.99,Geoffrey Rush|Anthony LaPaglia,Etgar Keret|Tatia Rosenthal,Etgar Keret|Tatia Rosenthal,Israel|Australia,NOT_FOUND
1,'68_(film),'68,Jan Němec|Neil Young,Steven Kovacs,Steven Kovacs,United_States,LGBT-related_film_Q20442589
2,'71_(film),'71,Richard Dormer|Charlie Murphy (actress)|Sean H...,Yann Demange,Gregory Burke,United_Kingdom,Crime_film|Thriller_film|War_film|Action_film
3,'Gator_Bait,'Gator Bait,Claudia Jennings,Beverly Sebastion,Beverly Sebastion,United_States,Thriller_film|Action_film
4,'Neath_Brooklyn_Bridge,'Neath Brooklyn Bridge,Leo Gorcey|Gabriel Dell|Bobby Jordan|Huntz Hall,Wallace Fox,Harvey Gates,United_States,NOT_FOUND
...,...,...,...,...,...,...,...
36353,Zozo,Zozo,Carmen Lebbos,Josef Fares,Josef Fares,United_Kingdom|Sweden|Lebanon,NOT_FOUND
36354,Zubeidaa,Zubeidaa,Rekha|Karisma Kapoor|Farida Jalal|Amrish Puri,Shyam Benegal,Khalid Mohamed,India,Romance_film
36355,Zulu_(1964_film),Zulu,Ulla Jacobsson|Stanley Baker|James Booth|Micha...,Cy Endfield,John Prebble|Cy Endfield,United_Kingdom,Adventure_film|War_film
36356,Zulu_(2013_film),Zulu,Forest Whitaker|Orlando Bloom,Jérôme Salle,Jérôme Salle,France,Crime_film
36357,Zus_&_Zo,Zus & Zo,Monic Hendrickx|Jacob Derwig|Halina Reijn,Paula van der Oest,Paula van der Oest,Netherlands,Romantic_comedy

In [ ]:
#remove duplicated movie_id
all_movies_df= all_movies_df[~all_movies_df.duplicated('movie_id')]
all_movies_df

In [ ]:
all_movies_df.duplicated('movie_id').any().sum()

In [113]:
all_movies_df

,movie_id,title,actor_name,director_name,writer_name,country,genre
0,$9.99,$9.99,Geoffrey Rush|Anthony LaPaglia,Etgar Keret|Tatia Rosenthal,Etgar Keret|Tatia Rosenthal,Israel|Australia,NOT_FOUND
1,'68_(film),'68,Jan Němec|Neil Young,Steven Kovacs,Steven Kovacs,United_States,LGBT-related_film_Q20442589
2,'71_(film),'71,Richard Dormer|Charlie Murphy (actress)|Sean H...,Yann Demange,Gregory Burke,United_Kingdom,Crime_film|Thriller_film|War_film|Action_film
3,'Gator_Bait,'Gator Bait,Claudia Jennings,Beverly Sebastion,Beverly Sebastion,United_States,Thriller_film|Action_film
4,'Neath_Brooklyn_Bridge,'Neath Brooklyn Bridge,Leo Gorcey|Gabriel Dell|Bobby Jordan|Huntz Hall,Wallace Fox,Harvey Gates,United_States,NOT_FOUND
...,...,...,...,...,...,...,...
36353,Zozo,Zozo,Carmen Lebbos,Josef Fares,Josef Fares,United_Kingdom|Sweden|Lebanon,NOT_FOUND
36354,Zubeidaa,Zubeidaa,Rekha|Karisma Kapoor|Farida Jalal|Amrish Puri,Shyam Benegal,Khalid Mohamed,India,Romance_film
36355,Zulu_(1964_film),Zulu,Ulla Jacobsson|Stanley Baker|James Booth|Micha...,Cy Endfield,John Prebble|Cy Endfield,United_Kingdom,Adventure_film|War_film
36356,Zulu_(2013_film),Zulu,Forest Whitaker|Orlando Bloom,Jérôme Salle,Jérôme Salle,France,Crime_film
36357,Zus_&_Zo,Zus & Zo,Monic Hendrickx|Jacob Derwig|Halina Reijn,Paula van der Oest,Paula van der Oest,Netherlands,Romantic_comedy

In [125]:
all_features_missing = len(all_movies_df[((all_movies_df.actor_name == 'NOT_FOUND')
                          & (all_movies_df.director_name == 'NOT_FOUND')
                          & (all_movies_df.writer_name == 'NOT_FOUND')
                          & (all_movies_df.genre == 'NOT_FOUND')
                          & (all_movies_df.country == 'NOT_FOUND'))])

complete_dataset= len(all_movies_df[((all_movies_df.actor_name != 'NOT_FOUND')
                          & (all_movies_df.director_name != 'NOT_FOUND')
                          & (all_movies_df.writer_name != 'NOT_FOUND')
                          & (all_movies_df.genre != 'NOT_FOUND')
                          & (all_movies_df.country != 'NOT_FOUND'))])

missing_only_genre_dataset= len(all_movies_df[((all_movies_df.actor_name != 'NOT_FOUND')
                          & (all_movies_df.director_name != 'NOT_FOUND')
                          & (all_movies_df.writer_name != 'NOT_FOUND')
                          & (all_movies_df.genre == 'NOT_FOUND')
                          & (all_movies_df.country != 'NOT_FOUND'))])

missing_only_actor_name_dataset= len(all_movies_df[((all_movies_df.actor_name == 'NOT_FOUND')
                          & (all_movies_df.director_name != 'NOT_FOUND')
                          & (all_movies_df.writer_name != 'NOT_FOUND')
                          & (all_movies_df.genre != 'NOT_FOUND')
                          & (all_movies_df.country != 'NOT_FOUND'))])

missing_only_director_dataset= len(all_movies_df[((all_movies_df.actor_name != 'NOT_FOUND')
                          & (all_movies_df.director_name == 'NOT_FOUND')
                          & (all_movies_df.writer_name != 'NOT_FOUND')
                          & (all_movies_df.genre != 'NOT_FOUND')
                          & (all_movies_df.country != 'NOT_FOUND'))])

missing_only_writer_dataset= len(all_movies_df[((all_movies_df.actor_name != 'NOT_FOUND')
                          & (all_movies_df.director_name != 'NOT_FOUND')
                          & (all_movies_df.writer_name == 'NOT_FOUND')
                          & (all_movies_df.genre != 'NOT_FOUND')
                          & (all_movies_df.country != 'NOT_FOUND'))])

missing_only_country_dataset= len(all_movies_df[((all_movies_df.actor_name != 'NOT_FOUND')
                          & (all_movies_df.director_name != 'NOT_FOUND')
                          & (all_movies_df.writer_name != 'NOT_FOUND')
                          & (all_movies_df.genre != 'NOT_FOUND')
                          & (all_movies_df.country == 'NOT_FOUND'))])

In [126]:
print("Number of ML movies retrieved from YAGO and DBpedia with their info is {}".format(len(all_movies_df)))
print("Number of movies missing all features is {}".format(all_features_missing))
print("Number of movies having all features is {}".format(complete_dataset))
print("Number of movies missing ONLY the country feature is {}".format(missing_only_country_dataset))
print("Number of movies missing ONLY the genre feature is {}".format(missing_only_genre_dataset))
print("Number of movies missing ONLY the director feature is {}".format(missing_only_director_dataset))
print("Number of movies missing ONLY the actor feature is {}".format(missing_only_actor_name_dataset))
print("Number of movies missing ONLY the writer feature is {}".format(missing_only_writer_dataset))

Number of ML movies retrieved from YAGO and DBpedia with their info is 36358
Number of movies missing all features is 2
Number of movies having all features is 19492
Number of movies missing ONLY the country feature is 12
Number of movies missing ONLY the genre feature is 7768
Number of movies missing ONLY the director feature is 220
Number of movies missing ONLY the actor feature is 599
Number of movies missing ONLY the writer feature is 3438

In [124]:
complete_dataset

19492

In [120]:
len(all_movies_df)

36358